<h1 class="text-center">USER INFORMATION</h1>
<div class="container">
  <div class="card p-3 d-flex justify-content-center m-3">
    <p>EMAIL</p>
    <%= @user.email %>
  </div>
    <% if @user.photo.attached? %>
      <div class="card p-3 d-flex justify-content-center m-3">
        <p>PHOTO</p>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% else %>
    <div class="card p-3 d-flex justify-content-center m-3">
      <a href="#">attach photo</a>
    </div>
    <% end %>

    <p class="text-center">
      <%= link_to "EDIT INFO", edit_my_profile_path %>
    </p>

</div>


