
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color:black;
  margin-bottom: 15px;
  background-color: $isabelline;

}

.links-list {
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  justify-content:space-between;
}
.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;

}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-infos .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  opacity: 0.6
}
.description {
  width: 500px;
  height: 200px;
}
.form-type {
  width:300px;
}

