.dropdown-container {
  position: relative;
  text-align: right;
}



.dropdown-dashboard {
  position: absolute;
  left: 250px;
  display: inline-block;
  opacity: 0.8

}

.dropdown-infos {
  text-align:left;
  padding-left: 10px;
  padding-right: 0px;
}

.booking-description {
  padding:0px
}

.notification {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
