<div class="container">
  <h1>Obstacles#index</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus molestias accusantium asperiores nihil tenetur adipisci quam placeat unde aliquid alias quibusdam sequi voluptate, nobis, ex enim minima, dignissimos similique, sed.</p>

  <ul>
  <% @obstacles.each do |obstacle| %>
    <li>
      <%= link_to obstacle.name , obstacle_path(obstacle) %>
      <%= link_to "show", obstacle_path(obstacle), class: "btn"%>
    </li>
  <% end %>
  </ul>


<%= link_to "create", new_obstacle_path, class: "btn btn-primary"%>

</div>
